<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LinkedIn Jobs</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements="" defer="" src="../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                        <div class="container px-5">
                            <a class="navbar-brand text-dark" href="/">LinkendIn Jobs</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Landings
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                   
                                    </li>
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pages
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item dropdown no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Documentation
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        
                                    </li>
                                </ul>
                                <a class="btn fw-500 ms-lg-4 btn-primary" href="/">
                                GitHub code
                                </a>
                            </div>
                        </div>
                    </nav>
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-img-repeat bg-secondary" style="background-image: url('assets/img/backgrounds/pattern-shapes.png')">
                        <div class="page-header-ui-content">
                            <div class="container px-5">
                                <div class="row gx-5 align-items-center">
                                    <div class="col-lg-6">
                                        <div class="badge badge-marketing rounded-pill bg-secondary-soft text-secondary mb-3">Start today!</div>
                                        <h1 class="page-header-ui-title">Find Jobs from LinkedIn for free with ease</h1>
                                        <p class="page-header-ui-text">Search for jobs on LinkedIn: LinkedIn has a built-in job search feature that allows you to search for jobs by keyword, location, and job type. You can also filter your search by company, industry, and experience level.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card rounded-3 text-dark">
                                            <div class="card-header py-4">Search for jobs posted on LinkedIn</div>
                                            <div class="card-body">
                                                <form method="POST" action="/find-jobs">
                                                    <div class="row gx-5 mb-3">
                                                        <div class="col-md-6">
                                                            <label class="small text-gray-600" for="leadCapFirstName">Job Title</label>
                                                            <input name="title" class="form-control" id="leadCapFirstName" type="text" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="small text-gray-600" for="leadCapLastName">Location</label>
                                                            <input name="location" class="form-control" id="leadCapLastName" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="small text-gray-600" for="leadCapEmail">Number of pages</label>
                                                        <input name="pages" class="form-control" id="leadCapEmail" type="number" />
                                                    </div>
                                                    <div class="mb-4">
                                                        <label class="small text-gray-600" for="leadCapCompany">Company or Organization</label>
                                                        <input disabled class="form-control" id="leadCapCompany" type="text" />
                                                    </div>
                                                    <div class="d-grid"><button class="btn btn-primary fw-500" type="submit">Search Jobs</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-angled text-white">
                            <!-- Angled SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
                        </div>
                    </header>
                    
                    
                  
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">
                    <div class="container px-5">
                        <div class="row gx-5">
                            <div class="col-lg-3">
                                <div class="footer-brand">LinkedIn Jobs</div>
                                <div class="mb-3">Design made easy</div>
                                <div class="icon-list-social mb-5">
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-github"></i></a>
                                    <a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row gx-5">
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Product</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Landing</a></li>
                                            <li class="mb-2"><a href="#!">Pages</a></li>
                                            <li class="mb-2"><a href="#!">Sections</a></li>
                                            <li class="mb-2"><a href="#!">Documentation</a></li>
                                            <li><a href="#!">Changelog</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Documentation</a></li>
                                            <li class="mb-2"><a href="#!">Changelog</a></li>
                                            <li class="mb-2"><a href="#!">Theme Customizer</a></li>
                                            <li><a href="#!">UI Kit</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Utilities</a></li>
                                            <li class="mb-2"><a href="#!">Components</a></li>
                                            <li class="mb-2"><a href="#!">Layouts</a></li>
                                            <li class="mb-2"><a href="#!">Code Samples</a></li>
                                            <li class="mb-2"><a href="#!">Products</a></li>
                                            <li class="mb-2"><a href="#!">Affiliates</a></li>
                                            <li><a href="#!">Updates</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">Privacy Policy</a></li>
                                            <li class="mb-2"><a href="#!">Terms and Conditions</a></li>
                                            <li><a href="#!">License</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div class="row gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright © Meshach Philips 2021</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                ·
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../cdn.jsdelivr.net/npm/bootstrap%405.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>

        <script src="../assets.startbootstrap.com/js/sb-customizer.js"></script>
        <sb-customizer project="sb-ui-kit-pro"></sb-customizer>
    <script>(function(){var js = "window['__CF$cv$params']={r:'77c911f739aa0bde',m:'BjDgAhLtUBbUZju96qk9S03aI910rHL9gTEHJBI2Z2s-1671546566-0-AYtqk4Sdo5t7JOrojhIGr7z5QxWpOBwEQYYzZcn6Gxso5FHQL4KG/hW+7BznjIGpozBZW8PbhZDCEUYbQ+2tGxUKtZBaEueXnqEeloeOQzHhVmwwHy5bWqgQ+7OhntMELb+12aQFO96a0IFjFr2gCM0=',s:[0x296583093b,0x4addce52a7],u:'/cdn-cgi/challenge-platform/h/g'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='cdn-cgi/challenge-platform/h/g/scripts/alpha/invisible5615.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.nonce = '';_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"77c911f739aa0bde","token":"6e2c2575ac8f44ed824cef7899ba8463","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from sb-ui-kit-pro.startbootstrap.com/landing-lead-capture.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Dec 2022 14:30:24 GMT -->
</html>
